
.articles{
    background-color: $Very-Light-Gray;
    
    >div{
        @extend .choose-bank;
    }

    h2{
        font-size: 2rem;
        font-weight: 700;
    }

    .article-paragraph{
        line-height: 1.3;
        // max-width: 30vw;
    }
}

.article-div{
    display: flex;
    justify-content: center;
    // align-items: center;
    // margin-left: -2em;
    text-align: center;

    img{
        width: 17vw;
        height: 10rem;
    }
    div{
        margin-right: .7em ;
        margin-bottom: 1em;
        background-color: $White;
        padding: .3em;
        // max-width: 30vw;
    }
    h4{
        font-weight: 550;
    }
}

// media queries
@media screen and (max-width: 890px){

    .article-div{
        flex-wrap: wrap;
        margin-top: 2em;

        div{
            margin-bottom: 1.5em;
            margin-right: auto;
        }
        img{
            width: 55vw;
            height: 17rem;
        }
    }
    .article-paragraph, .article-div h4{
        // max-width: 40vw;
        margin: auto;
    }
    .article-div h4{
        margin-bottom: 1.5em;
    }
}
@media screen and (max-width: 500px){
    
    .article-div{
        h4{
        margin-bottom: 1em;
        }
        img{
            height: 12rem;
        }
    }
}