*{
    border: 1px solid pink;
}
.choose-bank{
    max-width: 80%;
    margin: auto;
    padding: 3em 0;

    h2{
        font-size: 2rem;
        font-weight: 500;
    }
    .reason-intro{
        padding: 2em 0;
    }
}
.reasons{
    display: flex;
    margin-bottom: 2em;

    div{
        margin-right: 2em;
    }
    p{
        display: block;
    }
}

// media queries
@media screen and (min-width: 890px){
    .reason-intro{
        max-width: 30vw;
    }
}
@media screen and (max-width: 890px){
    
    .choose-bank{
        text-align: center;

        h2{
            max-width: 50vw;
            margin: auto;
        }
    }
    .reasons{
        flex-wrap: wrap;
        

        div{
            margin: auto;
        }
        p{
            line-height: 1.3;
        }
    }
}
@media screen and (max-width: 500px){
    .choose-bank{
        h2{
            font-size: 1.5rem;
            font-weight: 700;
        }
        p{
            line-height: 1.3;
        }
    }
    .reasons{
        flex-direction: column;
    }
}