@import "partials/nav";
@import "partials/intro";
@import "partials/choose-bank";
@import "partials/articles";
@import "partials/footer";


body, html{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Mobile: 375px
// Desktop: 1440px